@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);
/*<meta />*/

p.MyStyle
{
	font-family: Arial;
	font-size: 12pt;
	margin: 0px;
}

img
{
	border: none;
	padding: 8px;
}

a.Popup
{
	
}

span.button
{
	font-family: '"Arial Black"', " Gadget", " sans-serif";
	font-weight: bold;
}

div.boxit
{
	border: solid 2px;
	padding: 2em;
	width: 50%;
	margin-left: auto;
}

span.eighty_pc
{
	
}

p
{
	font: Arial;
	font-family: Arial;
}

html
{
	font-family: Arial;
	font: Arial;
}

h1
{
	font: Arial;
	font-family: Arial;
}

h2
{
	font: Arial;
	font-family: Arial;
}

h3
{
	font: Arial;
	font-family: Arial;
}

h4
{
	font: Arial;
	font-family: Arial;
}

h5
{
	font: Arial;
	font-family: Arial;
}

h6
{
	font: Arial;
	font-family: Arial;
}

MadCap|codeSnippetCaption
{
	font: Arial;
	font-family: Arial;
}

MadCap|codeSnippetCopyButton
{
	font: Arial;
	font-family: Arial;
}

MadCap|codeSnippetBody
{
	font: Arial;
	font-family: Arial;
}

MadCap|codeSnippet
{
	font: Arial;
	font-family: Arial;
}

MadCap|breadcrumbsProxy
{
	font: Arial;
	font-family: Arial;
}

div.GlossaryPageDefinition
{
	font-family: Arial;
}

div.GlossaryPageEntry
{
	font-family: Arial;
}

div.GlossaryPageHeading
{
	font-family: Arial;
}

div.GlossaryPageTerm
{
	font-family: Arial;
}

pre
{
	font-family: Arial;
}

q
{
	font-family: Arial;
}

section
{
	font-family: Arial;
}

span
{
	font-family: Arial;
}

caption
{
	font-family: Arial;
}

center
{
	font-family: Arial;
}

datalist
{
	font-family: Arial;
}

article
{
	font-family: Arial;
}

footer
{
	font-family: Arial;
}

header
{
	font-family: Arial;
}

MadCap|relatedTopics
{
	font-family: Arial;
}

MadCap|pageHeader
{
	font-family: Arial;
}

MadCap|pageFooter
{
	font-family: Arial;
}

MadCap|xref
{
	font: Arial;
	font-family: Arial;
	mc-format: '{paratext}';
}

li
{
	font-family: Arial;
}

ol
{
	font: Arial;
	font-family: Arial;
}

MadCap|glossaryTerm.Popup
{
	mc-image-spacing: 5px;
	mc-closed-image-alt-text: ;
	mc-closed-image: none;
	mc-open-image: none;
}

MadCap|glossaryTerm
{
	mc-closed-image: none;
	mc-open-image: none;
}

@media print
{
	img
	{
		
	}

	MadCap|xref
	{
		mc-format: '{paratext}{pageref}';
	}
}

MadCap|xref.namedDestination
{
	mc-format: '{namedDestination}{paratext}';
}

img.MCHelpControl_Image_Icon
{
	display: none;
}

.MCTextPopupArrow
{
	display: none;
}

MadCap|dropDown
{
	margin-bottom: 6px;
	margin-top: 6px;
	mc-closed-image: false;
	mc-disabled: false;
	mc-open-image: false;
}

img.div_image
{
	border: none;
	padding: 8px;
}

