/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle {
  name: table_style;
  border-collapse: collapse;
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #000000;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #000000;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #000000;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #000000;
  max-id: 3;
  page-break-before: auto;
  page-break-after: auto;
}

mcTableColumnStyle {
  span: 1;
  separator-style: solid;
  separator-width: 1px;
  separator-color: #000000;
  name: Column1;
  id: 0;
}

mcTableHeadStyle {
  span: 1;
  separator-style: solid;
  separator-width: 1px;
  separator-color: #000000;
  name: Header1;
  id: 2;
}

mcTableBodyStyle {
  span: 1;
  separator-style: solid;
  separator-width: 1px;
  separator-color: #000000;
  name: Body1;
  id: 1;
  vertical-align: top;
}

mcTableFootStyle {
  span: 1;
  separator-style: solid;
  separator-width: 1px;
  separator-color: #000000;
  name: Footer1;
  id: 3;
}

/* Cell Styles: */

.TableStyle-table_style {
  border-collapse: collapse;
  border-left-style: solid;
  border-left-color: #000000;
  border-left-width: 1px;
  border-right-style: solid;
  border-right-color: #000000;
  border-right-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  border-top-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-bottom-width: 1px;
  page-break-before: auto;
  page-break-after: auto;
  border-spacing: 0px 0px;
}

.TableStyle-table_style-Column-Column1 {
}

.TableStyle-table_style-Head-Header1 {
}

.TableStyle-table_style-HeadI-Column1-Header1 {
}

.TableStyle-table_style-HeadI-Column1-Header1 p {
}

.TableStyle-table_style-HeadE-Column1-Header1 {
  border-right-width: 1px;
  border-right-color: #000000;
  border-right-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #000000;
  border-bottom-style: solid;
}

.TableStyle-table_style-HeadE-Column1-Header1 p {
}

.TableStyle-table_style-HeadF-Column1-Header1 {
  border-bottom-width: 1px;
  border-bottom-color: #000000;
  border-bottom-style: solid;
}

.TableStyle-table_style-HeadF-Column1-Header1 p {
}

.TableStyle-table_style-HeadH-Column1-Header1 {
  border-right-width: 1px;
  border-right-color: #000000;
  border-right-style: solid;
}

.TableStyle-table_style-HeadH-Column1-Header1 p {
}

.TableStyle-table_style-HeadD-Column1-Header1 {
  border-bottom-width: 1px;
  border-bottom-color: #000000;
  border-bottom-style: solid;
}

.TableStyle-table_style-HeadD-Column1-Header1 p {
}

.TableStyle-table_style-HeadC-Column1-Header1 {
}

.TableStyle-table_style-HeadC-Column1-Header1 p {
}

.TableStyle-table_style-HeadB-Column1-Header1 {
  border-right-width: 1px;
  border-right-color: #000000;
  border-right-style: solid;
}

.TableStyle-table_style-HeadB-Column1-Header1 p {
}

.TableStyle-table_style-HeadA-Column1-Header1 {
}

.TableStyle-table_style-HeadA-Column1-Header1 p {
}

.TableStyle-table_style-HeadG-Column1-Header1 {
}

.TableStyle-table_style-HeadG-Column1-Header1 p {
}

.TableStyle-table_style-Foot-Footer1 {
}

.TableStyle-table_style-FootI-Column1-Footer1 {
}

.TableStyle-table_style-FootI-Column1-Footer1 p {
}

.TableStyle-table_style-FootE-Column1-Footer1 {
  border-right-width: 1px;
  border-right-color: #000000;
  border-right-style: solid;
  border-top-width: 1px;
  border-top-color: #000000;
  border-top-style: solid;
}

.TableStyle-table_style-FootE-Column1-Footer1 p {
}

.TableStyle-table_style-FootF-Column1-Footer1 {
  border-top-width: 1px;
  border-top-color: #000000;
  border-top-style: solid;
}

.TableStyle-table_style-FootF-Column1-Footer1 p {
}

.TableStyle-table_style-FootH-Column1-Footer1 {
  border-right-width: 1px;
  border-right-color: #000000;
  border-right-style: solid;
}

.TableStyle-table_style-FootH-Column1-Footer1 p {
}

.TableStyle-table_style-FootD-Column1-Footer1 {
  border-top-width: 1px;
  border-top-color: #000000;
  border-top-style: solid;
}

.TableStyle-table_style-FootD-Column1-Footer1 p {
}

.TableStyle-table_style-FootC-Column1-Footer1 {
}

.TableStyle-table_style-FootC-Column1-Footer1 p {
}

.TableStyle-table_style-FootB-Column1-Footer1 {
  border-right-width: 1px;
  border-right-color: #000000;
  border-right-style: solid;
}

.TableStyle-table_style-FootB-Column1-Footer1 p {
}

.TableStyle-table_style-FootA-Column1-Footer1 {
}

.TableStyle-table_style-FootA-Column1-Footer1 p {
}

.TableStyle-table_style-FootG-Column1-Footer1 {
}

.TableStyle-table_style-FootG-Column1-Footer1 p {
}

.TableStyle-table_style-Body-Body1 {
}

.TableStyle-table_style-BodyI-Column1-Body1 {
  vertical-align: top;
}

.TableStyle-table_style-BodyI-Column1-Body1 p {
}

.TableStyle-table_style-BodyE-Column1-Body1 {
  vertical-align: top;
  border-bottom-width: 1px;
  border-bottom-color: #000000;
  border-bottom-style: solid;
  border-right-width: 1px;
  border-right-color: #000000;
  border-right-style: solid;
}

.TableStyle-table_style-BodyE-Column1-Body1 p {
}

.TableStyle-table_style-BodyF-Column1-Body1 {
  vertical-align: top;
  border-bottom-width: 1px;
  border-bottom-color: #000000;
  border-bottom-style: solid;
}

.TableStyle-table_style-BodyF-Column1-Body1 p {
}

.TableStyle-table_style-BodyH-Column1-Body1 {
  vertical-align: top;
  border-right-width: 1px;
  border-right-color: #000000;
  border-right-style: solid;
}

.TableStyle-table_style-BodyH-Column1-Body1 p {
}

.TableStyle-table_style-BodyD-Column1-Body1 {
  vertical-align: top;
  border-bottom-width: 1px;
  border-bottom-color: #000000;
  border-bottom-style: solid;
}

.TableStyle-table_style-BodyD-Column1-Body1 p {
}

.TableStyle-table_style-BodyC-Column1-Body1 {
  vertical-align: top;
}

.TableStyle-table_style-BodyC-Column1-Body1 p {
}

.TableStyle-table_style-BodyB-Column1-Body1 {
  vertical-align: top;
  border-right-width: 1px;
  border-right-color: #000000;
  border-right-style: solid;
}

.TableStyle-table_style-BodyB-Column1-Body1 p {
}

.TableStyle-table_style-BodyA-Column1-Body1 {
  vertical-align: top;
}

.TableStyle-table_style-BodyA-Column1-Body1 p {
}

.TableStyle-table_style-BodyG-Column1-Body1 {
  vertical-align: top;
}

.TableStyle-table_style-BodyG-Column1-Body1 p {
}
