# Git Ignore for MadCap Flare


# MadCap folders to always exclude
Analyzer
FileSync 
Output
Project/Reports
Project/Users

# Folders to exclude when using a global project structure
PageLayouts
Snippets
Stylesheets
TableStyles

# Child project folders to exclude
/Project/Advanced
/Project/ConditionTagSets
/Project/Glossaries
/Project/Reports
/Project/Skins
/Project/Users
/Project/VariableSets

