@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);
/*<meta />*/

body
{
	text-size: 100%;
	font-family: Arial;
	background-color: #ffffff;
}

br
{
	
}

/******** Headers ********/




h1.hide
h2.hide
h3.hide
h4.hide
{
	mc-heading-level: 0;
}

/* I think this one is left over from the conversion from Word: */

h1.h1_1
{
	font-family: Verdana, sans-serif;
	font-size: 12pt;
}
h1
{
	font-size: 2.0em;
	page-break-before: auto;
}

h2
{
	margin-top: 1.1em;
	font-size: 1.5em;
}

h3
{
	margin-top: 0.2em;
	font-style: italic;
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: -0.2em;
}

h4
{
	font-weight: bold;
	font-size: 1.2em;
	font-size: 1.0em;
}

h5
{
	margin-top: 1em;
	margin-bottom: 0.5em;
	font-weight: normal;
	font-style: italic;
	font-size: 1.0em;
	mc-heading-level: 0;
}

h6
{
	font-size: 1.0em;
	display: inline;
	font-weight: bold;
	font-style: normal;
	margin-top: 0.67em;
	page-break-after: avoid;
	margin-bottom: 0.67em;
	mc-heading-level: 0;
}

h7
{
	font-size: 1.0em;
	display: inline;
	font-style: italic;
	margin-top: 0.67em;
	page-break-after: avoid;
	margin-bottom: 0.67em;
	mc-heading-level: 0;
}

/* Use to omit a topic header from TOC, esp for the topic "Table of Contents" created for custom TOC */
.no-toc
{
	mc-heading-level: 0;
}

/*** Lists ***/

ul.toptight	/* created 2/27/2017 for when list immediately follows a header and too much space
is generated between them. Example: "Related Links" lists at end of topics. */
{
	margin-top: 0em;
}

li.noBreakAfter	/* for a list item that introduces a sublisting */
{
	page-break-after: avoid;
}

/*** ***/
/*** ***/

.abstract	/* **af test this. I was hard coding; then realized I had omitted the semi's */
{
	margin-left: 20%;
	margin-right: 20%;
	border-top: 2px;
	border-bottom: 2px;
}

li
{
	font-size: 12.0pt;
	margin-top: 2px;
	margin-bottom: 4px;
	orphans: 2;
	widows: 2;
}

p
{
	font-size: 12.0pt;
	orphans: 2;
	widows: 2;
}

.center
{
	margin-left: auto;
	margin-right: auto;
	align: center;
}

/******** Paragraph style ********/

/*** for centering a paragraph, I made a Flare macro "center-p" called by Alt-c BUT..that's local formatting instead of applying a style (< p style="text-align: center;">). A class is better because it can be changed en masse. For a span, I was able to select a CLASS from a dropdown 
I am checking with Flare support 2/17/2016 for ability to do the same with a paragraph. ***/

p.center
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	align: center;
}

p.indent	/* equivalent to <blockquote> except that I beefed up right margin by 5 px */
{
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 40px;
	margin-right: 45px;
}

p.indent2	/* double indent: when used at the left margin, this is equivalent to 
                /* indent of an image indented using <blockquote> inside an ordered list */
{
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 78px;
	margin-right: 45px;
}

p.result	/* commentary (like stage directions) about what the user should see at this point */
{
	font-style: italic;
}

p.noBreakAfter
{
	page-break-after: avoid;
}

p.p_3
{
	font-family: Verdana, sans-serif;
	font-size: 10pt;
}

/******** Span styles ********/

span.span_1	/* I have used this legacy style exensively -AJF */
{
	font-weight: bold;
}

span.span_9
/* what I am using for italics; legacy style that should be */
/* converted to "emph", "result", "new-term", etc. */
{
	font-style: italic;
}

span.new-term
{
	font-style: italic;
}

span.emph
{
	font-style: italic;
}

span.fn-size
/* reduce font size by 20 percent */
{
	font-size: 80%;	
}

span.result
/* commentary (like stage directions) about what the user should see at this point */
/* AJF also created the same in paragraph style */
{
	font-style: italic;
}

span.linkul
{
	text-decoration: underline;
}

span.small-jumplink
{
	font-size: 8pt;
	vertical-align: +1; /* hangs down too low, but I don't yet know how to specify in CSS superscript or other way to get it up */ 
}

span.span_5
{
	line-height: 200%;
}

span.titleFont
{
	font-size: 24pt;
}

/******** Other ********/

img
{
	list-style-type: lower-alpha;
}

img.img_2
{
	border: none;
	border-style: none;
	border-style: none;
	mc-float: frame-center;
}

img.icon
{
	margin-bottom: -2px;
}

li.li_1
{
	padding-top: 10px;
}

ul.ul_1
{
	list-style: disc;
}

li.li_7
{
	font-size: 10pt;
	font-family: Verdana, sans-serif;
	font-weight: normal;
}

img.img_1
{
	border: none;
}

p.p_13
{
	font-size: 10pt;
}

li.li_9
{
	margin-bottom: 0;
	font-size: 10pt;
}

ol.ol_1
{
	list-style: decimal;
	list-style-type: decimal;
}

img.center
{
	margin-left: auto;
	margin-right: auto;
	display: block;
}

img.right
{
	margin-left: auto;
	margin-right: 15px;
	float: right;
}

p.p_26
{
	text-align: center;
}

p.Contact
{
	font-weight: bold;
}

p.Image_Caption
{
	text-align: center;
	font-weight: bold;
	font-size: 9pt;
}

ul.ul_2
{
	list-style: circle;
}

li.li_23
{
	font-family: Verdana, sans-serif;
	font-size: 10pt;
	font-style: normal;
}

li.li_24
{
	font-family: Verdana, sans-serif;
	font-size: 10pt;
	margin-top: 0pt;
	margin-bottom: 0pt;
}

li.li_25
{
	font-family: Verdana, sans-serif;
	font-size: 10pt;
	font-style: normal;
	font-weight: normal;
}

p.sidebar
{
	background-color: #c0c0c0;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #00bfff;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #00bfff;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #00bfff;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #00bfff;
}

MadCap|glossaryProxy
{
	mc-glossary-headings: false;
}

MadCap|xref
{
	text-decoration: underline;
}

span.ref-title
{
	font-style: italic;
}

table
{
	padding: 2px;
	border-collapse: collapse;
}

td
{
	
}

th
{
	padding-left: 5px;
}

/* ****************************************************************************************** */
/*                            PRINT SPECS START HERE                                          */
/* ****************************************************************************************** */

@media print
{
	/* SMALLER PRINT FOR HARD COPY: SEE ALSO large_print.css */

	body
	{
		font-size: 8pt;
		font-family: Arial;
		background-color: #ffffff;
	}

	/*** Print Headers ***/

	h1
	{
		font-size: 20pt;
		page-break-before: auto;
		page-break-after: avoid;
	}

	h1.h1_1
	{
		font-family: Verdana, sans-serif;
		font-size: 12pt;
	}

	h2
	{
		font-size: 16pt;
		page-break-after: avoid;
	}

	h3
	{
		font-style: italic;
		font-weight: bold;
		font-size: 14pt;
		page-break-after: avoid;
		mc-toc-depth: 0;
	}

	h4
	{
		font-weight: bold;
		font-size: 12pt;
		page-break-after: avoid;
		mc-toc-depth: 0;
	}

	h5
	{
		margin-top: 1em;
		font-weight: normal;
		font-style: italic;
		font-size: 12pt;
		page-break-after: avoid;
	}

	h6
	{
		font-size: 10pt;
		display: inline;
		font-weight: bold;
		font-style: normal;
		margin-top: 0.67em;
		page-break-after: avoid;
		margin-bottom: 0.67em;
	}

	h7
	{
		font-size: 10pt;
		display: inline;
		font-style: italic;
		margin-top: 0.67em;
		page-break-after: avoid;
		margin-bottom: 0.67em;
		/*** ***/
	}

	/* **** END commands for smaller print; more print media specs follow  ******************** */

	div.GlossaryPageHeading
	{
		mc-heading-format: 'hidden';
	}

	div.GlossaryPageTerm
	{
		font-size: 12pt;
	}

	h1
	{
		page-break-before: always;
	}

	h1.super
	{
		/* this is for print doc, to start a new page for each major section */
		margin-bottom: 2 em;
		text-align: center;
		page-break-before: always;
		margin-top: 15em;
		page-break-after: always;
	}

	img
	{
		max-width: 7in;
		mc-toc-depth: 2;
	}

	/* I am putting these instructions in main to see if things will work any better
	p
	{
		orphans: 2;
		widows: 2;
	}
*/

	p.pagebreak
	{
		page-break-after: always;
		column-break-after: always;
	}

	MadCap|xref
	{
		color: blue;
	}

	img
	{
		mc-float: center;
	}

	span.fake_link
	{
		text-decoration: underline;
		color: #1e90ff;
	}

	span.more
	{
		color: blue;
		font-size: 80%;
	}

	ul.nobul
	{
		list-style: none;
	}

	p.noBlankLines
	{
		font-size: 12.0pt;
		padding: 0px;
		margin: 0;
	}

	MadCap|dropDown.imgHotspot
	{
		mc-closed-image: none;
		mc-open-image: none;
	}

	* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * PRINT * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * .ChapTitle
	/*** Headers ***/
	/* tack onto an H1 as a class: BUT THIS DOESN'T HAVE A NAME YET */
	{
		margin-left: auto;
		margin-right: auto;
		font-size: 30px;
	}

	.ChapTitle-ctrpage
	{
		margin-top: 5in;
		text-align: center;
		/* this works whereas the margin-left/right auto did not */
		font-size: 30px;
		page-break-after: always;
	}

	/* style to "Keep together" the lines in a div. Not sure what other containers it will work on. */
	/* Used extensively in print docs to manage page breaks.                                        */

	.kt 
	{
		page-break-inside: avoid;
	}
	
	/* style to avoid break after */
	.nb
	{
		page-break-after: avoid;
	}

	.breakpage
	{
		page-break-before: always;
	}

	/* Restrict # levels in TOC as desired, here */

	h3,
	h4,
	h5,
	h6,
	h7
	{
		mc-heading-level: 0;
	}

	span.ref-title
	{
		font-style: italic;
	}

	ol.indent2	/*taken aken from */
	{
		margin: 1.12em;
		margin-bottom: 1em;
		margin-left: 78px;
		margin-right: 45px;
		margin-top: 1em;
		mc-leader-indent: 5;
	}

	ol.indent
	{
		margin: 1.12em;
		margin-bottom: 1em;
		margin-left: 40px;
		margin-right: 45px;
		margin-top: 1em;
		mc-leader-indent: 5;
	}

	a.Popup
	{
		mc-popup-height: 80%;
		mc-popup-width: 80%;
	}

	p.figcap
	{
		font-weight: bold;
		font-size: 0.95em;
	}

	caption
	{
		font-weight: bold;
		font-size: 110%;
	}

	span.NonGlossary
	{
		mc-disable-glossary-terms: true;
	}

	span.SeeIndex
	{
		font-style: italic;
	}

	span.SeeIndexTerms
	{
		font-weight: bold;
	}

	span.SeeAlsoIndex
	{
		font-style: italic;
	}

	span.SeeAlsoIndexTerms
	{
		font-weight: bold;
	}

	li.kt
	{
		page-break-inside: avoid;
	}
}

table.bdr
{
	border: solid 1px #000000;
}

td.vert
{
	border-left: solid 2px #000000;
	border-right: solid 2px #000000;
}

td.bottom
{
	border-bottom: solid 2px #000000;
}

th.bdr
{
	border: solid 2px #000000;
}

/* End print media styles */
