<!DOCTYPE html>
<html lang="en-us" data-mc-search-type="Stem" data-mc-help-system-file-name="Default.xml" data-mc-path-to-help-system="../../../../../../" data-mc-target-type="WebHelp2" data-mc-runtime-file-type="Topic" data-mc-preload-images="false" data-mc-in-preview-mode="false" data-mc-medium="non-print" data-mc-toc-path="Inventory|Components" data-mc-ignored-words="FEMA;DoD;UFC;ATFP;PVB;IBC;FCI;FI;BFI;POC;POC's;BCI;MDI;BPI;RSL;BUILDER's;ERDC;CERL;SMS;BUILDER™'s;PRV;BCCI;IAQ;ISR;ASTM;Securement;sustainment;Uniformat;recoating;FP;Multi;multi" data-mc-status="Complete" data-mc-check_list="Ran Smart Index" xml:lang="en-us">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="../../../../../../Skins/Default/Stylesheets/Slideshow.css" rel="stylesheet" type="text/css" data-mc-generated="True" />
        <link href="../../../../../../Skins/Default/Stylesheets/TextEffects.css" rel="stylesheet" type="text/css" data-mc-generated="True" />
        <link href="../../../../../../Skins/Default/Stylesheets/Topic.css" rel="stylesheet" type="text/css" data-mc-generated="True" />
        <link href="../../../../../../Skins/Default/Stylesheets/Components/Styles.css" rel="stylesheet" type="text/css" data-mc-generated="True" />
        <link href="../../../../../../Skins/Default/Stylesheets/Components/Print.css" rel="stylesheet" type="text/css" data-mc-generated="True" />
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" /><title>Working with Components</title>
        <script src="../../../../Resources/Scripts/jquery.min.js" type="text/javascript">
/*<![CDATA[*/

 
/*]]>*/
</script>
        <script src="../../../../Resources/Scripts/purify.min.js" type="text/javascript" defer="defer">
/*<![CDATA[*/

 
/*]]>*/
</script>
        <script src="../../../../Resources/Scripts/require.min.js" type="text/javascript" defer="defer">
/*<![CDATA[*/

 
/*]]>*/
</script>
        <script src="../../../../Resources/Scripts/require.config.js" type="text/javascript" defer="defer">
/*<![CDATA[*/

 
/*]]>*/
</script>
        <script src="../../../../Resources/Scripts/foundation.min.js" type="text/javascript" defer="defer">
/*<![CDATA[*/

 
/*]]>*/
</script>
        <script src="../../../../Resources/Scripts/plugins.min.js" type="text/javascript" defer="defer">
/*<![CDATA[*/

 
/*]]>*/
</script>
        <script src="../../../../Resources/Scripts/MadCapAll.js" type="text/javascript" defer="defer">
/*<![CDATA[*/

 
/*]]>*/
</script>
        <link href="../../../../../Resources/Styles/SMS-Styles.css" rel="stylesheet" type="text/css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="../../../../../../Resources/Scripts/jquery.min.js" type="text/javascript">
        </script>
        <script src="../../../../../../Resources/Scripts/purify.min.js" type="text/javascript" defer="defer">
        </script>
        <script src="../../../../../../Resources/Scripts/require.min.js" type="text/javascript" defer="defer">
        </script>
        <script src="../../../../../../Resources/Scripts/require.config.js" type="text/javascript" defer="defer">
        </script>
        <script src="../../../../../../Resources/Scripts/foundation.min.js" type="text/javascript" defer="defer">
        </script>
        <script src="../../../../../../Resources/Scripts/plugins.min.js" type="text/javascript" defer="defer">
        </script>
        <script src="../../../../../../Resources/Scripts/MadCapAll.js" type="text/javascript" defer="defer">
        </script>
    </head>
    <body>
        <div class="kt">
            <h1><a name="kanchor758"></a>Working with Components</h1>
            <p>
                <hr width="100%" size="0" align="center" />
            </p>
            <p>The Component level in the BUILDER hierarchy is what allows your real property inventory to conform to Level 3 of the UNIFORMAT II system shown in <a href="../systems/inv_builder_systems-table.htm" class="MCXref xref">BUILDER Systems and Components</a>. This topic<!-- describes what a Component is and how to use it in organizing your real property inventory. It also--> describes the operations that can be performed at the Component level.</p>
            <p>
                <hr width="100%" size="0" align="center" />
            </p>
        </div>
        <p>Things you can do at the Component level are: </p>
        <ul>
            <li>
view condition history <![CDATA[         ]]></li>
            <li>
view a table of the Sections contained in the Component          </li>
            <li>
assign or unassign Component-level cost modifiers (these modifiers are values to multiply by or to add to the cost of an asset, to account for factors such as remote site location or local market anomalies in cost of materials)</li>
            <li>
view, add, or delete attachments
         </li>
            <li>
add, edit, or delete custom Component attributes<![CDATA[         ]]></li>
            <li>
generate reports            </li>
        </ul>
        <h2 class="no-toc">Component Tasks</h2>
        <p>Tasks that can be performed on Components are:</p>
        <ul style="list-style-type: none;">
            <li><a href="inv_add_component.htm" class="MCXref xref">Add a Component</a>
            </li>
            <li><a href="inv_edit_component.htm" class="MCXref xref">Edit Component Data</a>
            </li>
            <li><a href="inv_gen_component_report.htm" class="MCXref xref">Generate Component Reports</a>
            </li>
            <li><a href="inv_delete_component.htm" class="MCXref xref">Delete a Component</a>
            </li>
        </ul>
        <p>&#160;</p>
        <p class="MCWebHelpFramesetLink MCWebHelpFramesetLinkBottom"><a href="../../../../Builder.htm#inventory/systems,_components,_and_sections/components/about_components.htm">Open topic with navigation</a>
        </p>
        <p class="MCWebHelpFramesetLink MCWebHelpFramesetLinkBottom"><a href="../../../../../../Default.htm#BUILDER/content/inventory/systems,_components,_and_sections/components/about_components.htm">Open topic with navigation</a>
        </p>
    </body>
</html>