<!DOCTYPE html>
<html lang="en-us" data-mc-search-type="Stem" data-mc-help-system-file-name="Default.xml" data-mc-path-to-help-system="../../../../../../" data-mc-target-type="WebHelp2" data-mc-runtime-file-type="Topic" data-mc-preload-images="false" data-mc-in-preview-mode="false" data-mc-medium="non-print" data-mc-toc-path="Inventory|Components" data-mc-status="Complete" data-mc-check_list="Ran Smart Index" data-mc-ignored-words="dropdown;FEMA;DoD;UFC;ATFP;PVB;IBC;FCI;FI;BFI;POC;POC's;BCI;MDI;BPI;RSL;BUILDER's;ERDC;CERL;SMS;BUILDER™'s;PRV;BCCI;ASTM;CSCI;CCI;IAQ;ISR;Securement;sustainment;Uniformat;recoating;FP;Multi;multi" xml:lang="en-us">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="../../../../../../Skins/Default/Stylesheets/Slideshow.css" rel="stylesheet" type="text/css" data-mc-generated="True" />
        <link href="../../../../../../Skins/Default/Stylesheets/TextEffects.css" rel="stylesheet" type="text/css" data-mc-generated="True" />
        <link href="../../../../../../Skins/Default/Stylesheets/Topic.css" rel="stylesheet" type="text/css" data-mc-generated="True" />
        <link href="../../../../../../Skins/Default/Stylesheets/Components/Styles.css" rel="stylesheet" type="text/css" data-mc-generated="True" />
        <link href="../../../../../../Skins/Default/Stylesheets/Components/Print.css" rel="stylesheet" type="text/css" data-mc-generated="True" />
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" /><title>Generate Component Reports</title>
        <script src="../../../../Resources/Scripts/jquery.min.js" type="text/javascript">
/*<![CDATA[*/

 
/*]]>*/
</script>
        <script src="../../../../Resources/Scripts/purify.min.js" type="text/javascript" defer="defer">
/*<![CDATA[*/

 
/*]]>*/
</script>
        <script src="../../../../Resources/Scripts/require.min.js" type="text/javascript" defer="defer">
/*<![CDATA[*/

 
/*]]>*/
</script>
        <script src="../../../../Resources/Scripts/require.config.js" type="text/javascript" defer="defer">
/*<![CDATA[*/

 
/*]]>*/
</script>
        <script src="../../../../Resources/Scripts/foundation.min.js" type="text/javascript" defer="defer">
/*<![CDATA[*/

 
/*]]>*/
</script>
        <script src="../../../../Resources/Scripts/plugins.min.js" type="text/javascript" defer="defer">
/*<![CDATA[*/

 
/*]]>*/
</script>
        <script src="../../../../Resources/Scripts/MadCapAll.js" type="text/javascript" defer="defer">
/*<![CDATA[*/

 
/*]]>*/
</script>
        <link href="../../../../../Resources/Styles/SMS-Styles.css" rel="stylesheet" type="text/css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="../../../../../../Resources/Scripts/jquery.min.js" type="text/javascript">
        </script>
        <script src="../../../../../../Resources/Scripts/purify.min.js" type="text/javascript" defer="defer">
        </script>
        <script src="../../../../../../Resources/Scripts/require.min.js" type="text/javascript" defer="defer">
        </script>
        <script src="../../../../../../Resources/Scripts/require.config.js" type="text/javascript" defer="defer">
        </script>
        <script src="../../../../../../Resources/Scripts/foundation.min.js" type="text/javascript" defer="defer">
        </script>
        <script src="../../../../../../Resources/Scripts/plugins.min.js" type="text/javascript" defer="defer">
        </script>
        <script src="../../../../../../Resources/Scripts/MadCapAll.js" type="text/javascript" defer="defer">
        </script>
    </head>
    <body>
        <h1><a name="kanchor849"></a>Generate Component Reports</h1>
        <div class="kt">
            <p>
                <hr width="100%" size="0" align="center" />
            </p>
            <p>This topic shows how to locate, select, and generate Component-level reports.</p>
            <p>
                <hr width="100%" size="0" align="center" />
            </p>
        </div>
        <p>There are two locations where you can generate reports: </p>
        <ol style="list-style-type: lower-alpha;">
            <li value="1">At the main menu bar. The selection of reports listed here is divided into categories: Inventory, Condition Assessment, Functionality Assessment, and Work Planning.</li>
            <li value="2">At the content area toolbar.</li>
        </ol>
        <p>The first section below provides instructions for generating Component-level reports from the Component's content area toolbar. Reports generated here will be restricted in scope to the selected Component.</p>
        <p>The next section after that one provides instructions for generating a report starting at the main menu.</p>
        <h2>Generate Report at Component Data Screen </h2>
        <h3>Scope of Report</h3>
        <p>When you generate a report while you are at the Component level of the inventory tree, the report will contain data only for Sections in the currently selected Component.</p>
        <h3>How To Generate</h3>
        <p>To generate a report,</p>
        <ol>
            <li value="1">
                Activate the <img src="../../../resources/icons/reports.png" alt="" /> <span class="span_1" style="font-weight: bold;">Reports</span> button on the content area toolbar. (The content area toolbar is directly above the ID line.) <span class="result" style="font-style: italic;">The "Reports" popup will open.</span></li>
            <li value="2">
                At the <span class="span_1" style="font-weight: bold;">Select a Report</span> field, activate the dropdown arrow.  <span class="result" style="font-style: italic;">The following selection of reports shown in the screenshot will be displayed</span>.
                <p class="p_26" style="text-align: center;"><img src="inv-cpt-rpts15_v3-5-5.png" alt="CI Performance; Condition Index Detail; Direct Condition Rating Inspection By Component; Direct Condition Rating Inspection By Sample Location; Direct Condition Rating Inspection By Section; Distress Survey Inspection Report By Component; Distress Survey Inspection Report By Sample Location; Distress Survey Inspection Report By Section; Inspection History; Last Inspection Date Detail; Last Inspection Date Summary; Remaining service life (RSL) Detail; Section Inventory Detail; Warranty Information Detail; Warranty Information Summary" /></p></li>
            <li value="3">
                In the list, select a report (for example, "Remaining Service Life (<a href="javascript:void(0)" class="MCTextPopup MCTextPopupHotSpot MCTextPopup_Open glossaryTerm glossaryTermPopup MCTextPopupHotSpot_ MCTextPopupHotSpot_Popup" glossTerm="ESMS-gloss.Term4" xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">RSL<span class="MCTextPopupBody popupBody"><span class="MCTextPopupArrow"> </span>Remaining Service Life</span></a><span class="MCTextPopupBody popupBody">Remaining Service Life</span>) Detail").
            </li>
            <li value="4">
                Activate <img src="../../../resources/icons/reports.png" alt="" /> <span class="span_1" style="font-weight: bold;">View Report</span> on the popup's toolbar. <span class="result" style="font-style: italic;">The report will be displayed in a popup titled "Report Viewer."</span></li>
            <li value="5">
                From the "Report Viewer" popup, you can choose to download or print the report.
            </li>
        </ol>
        <h2>Generate Report from Main Menu</h2>
        <h3>Scope of Report</h3>
        <p>Reports are not made available at the Organization level. By default, unless you have used filters to further restrict what is included in the report, the scope of the report will be the Site, Building, System, Component, or Component-Section where you are located in the Inventory tree when you activate the <span class="span_1" style="font-weight: bold;">Reports</span> button.</p>
        <h3>How to Generate</h3>
        <p>To generate a report from the main menu,</p>
        <ol>
            <li value="1">Activate the <span class="span_1" style="font-weight: bold;">Reports</span> button at the main menu.
			</li>
            <li value="2">In the "Reports" popup, open the BUILDER entry by activating the plus button.
			</li>
            <li value="3">Next, open the desired category: Inventory, Condition Assessment, Functionality Assessment, or Work Planning. For this example, open Inventory.
			</li>
            <li value="4">In the expanded list of reports, scroll down to the desired report and select it.
            </li>
            <li value="5">Optionally, you can then select one or more filters at locations and inventory levels where the <span class="span_1" style="font-weight: bold;">Filter Report</span> option is active. For example, you can select the "Age" filter and direct the <a href="javascript:void(0)" class="MCTextPopup MCTextPopupHotSpot MCTextPopup_Open glossaryTerm glossaryTermPopup MCTextPopupHotSpot_ MCTextPopupHotSpot_Popup" glossTerm="ESMS-gloss.Term4" xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">RSL<span class="MCTextPopupBody popupBody"><span class="MCTextPopupArrow"> </span>Remaining Service Life</span></a><img class="MCHelpControl_Image_Icon" src="../../../../Skins/Default/Stylesheets/Images/transparent_16x11.gif" alt="Closed" data-mc-alt2="Open" style="width: 16;height: 11;" /><span class="MCTextPopupBody popupBody">Remaining Service Life</span> report to show only items that are 10 years old or more. 
				<p>For example, this is the list of filters available for the <a href="javascript:void(0)" class="MCTextPopup MCTextPopupHotSpot MCTextPopup_Open glossaryTerm glossaryTermPopup MCTextPopupHotSpot_ MCTextPopupHotSpot_Popup" glossTerm="ESMS-gloss.Term4" xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">RSL<span class="MCTextPopupBody popupBody"><span class="MCTextPopupArrow"> </span>Remaining Service Life</span></a><span class="MCTextPopupBody popupBody">Remaining Service Life</span> report at the Site level:</p><p class="p_26" style="text-align: center;"><img src="../../sites/inv-site-eg-filters-for-rsl-report_v3-5-5.png" alt="" /></p></li>
            <li value="6">After setting any desired filters, and selecting a Sort order if desired, activate <img src="../../../resources/icons/reports.png" alt="" /> <span class="span_1" style="font-weight: bold;">View Report</span> on the popup's toolbar. <span class="result" style="font-style: italic;">The report will be displayed in a popup titled "Report Viewer."</span></li>
            <li value="7">From the "Report Viewer" popup, you can choose to download or print the report.
<![CDATA[            ]]></li>
        </ol>
        <h2>Export Report</h2>
        <p>To export a report, see instructions at <a href="../../../tools/reports/rpt_export_reports.htm" class="MCXref xref">Export a Report</a>.</p>
        <h2 data-mc-conditions="Primary.ScreenOnly">Component Tasks</h2>
        <p data-mc-conditions="Primary.ScreenOnly">Other tasks that can be performed on Components are:</p>
        <ul style="list-style-type: none;">
            <li data-mc-conditions="Primary.ScreenOnly"><a href="inv_add_component.htm" class="MCXref xref">Add a Component</a>
            </li>
            <li data-mc-conditions="Primary.ScreenOnly"><a href="inv_edit_component.htm" class="MCXref xref">Edit Component Data</a>
            </li>
            <li data-mc-conditions="Primary.ScreenOnly"><a href="inv_delete_component.htm" class="MCXref xref">Delete a Component</a>
            </li>
        </ul>
        <p data-mc-conditions="Primary.ScreenOnly">For an overview of Components, see <a href="about_components.htm" class="MCXref xref">Working with Components</a>.</p>
        <p class="MCWebHelpFramesetLink MCWebHelpFramesetLinkBottom"><a href="../../../../Builder.htm#inventory/systems,_components,_and_sections/components/inv_gen_component_report.htm">Open topic with navigation</a>
        </p>
        <p class="MCWebHelpFramesetLink MCWebHelpFramesetLinkBottom"><a href="../../../../../../Default.htm#BUILDER/content/inventory/systems,_components,_and_sections/components/inv_gen_component_report.htm">Open topic with navigation</a>
        </p>
    </body>
</html>