<!DOCTYPE html>
<html lang="en-us" data-mc-search-type="Stem" data-mc-help-system-file-name="Default.xml" data-mc-path-to-help-system="../../../../../../" data-mc-target-type="WebHelp2" data-mc-runtime-file-type="Topic" data-mc-preload-images="false" data-mc-in-preview-mode="false" data-mc-medium="non-print" data-mc-toc-path="Inventory|Components" data-mc-ignored-words="FEMA;DoD;UFC;ATFP;PVB;IBC;FCI;FI;BFI;POC;POC's;BCI;MDI;BPI;RSL;BUILDER's;ERDC;CERL;SMS;BUILDER™'s;PRV;BCCI;IAQ;ISR;ASTM;Securement;sustainment;Uniformat;recoating;FP;Multi;multi" data-mc-status="Complete" data-mc-check_list="Ran Smart Index" xml:lang="en-us">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="../../../../../../Skins/Default/Stylesheets/Slideshow.css" rel="stylesheet" type="text/css" data-mc-generated="True" />
        <link href="../../../../../../Skins/Default/Stylesheets/TextEffects.css" rel="stylesheet" type="text/css" data-mc-generated="True" />
        <link href="../../../../../../Skins/Default/Stylesheets/Topic.css" rel="stylesheet" type="text/css" data-mc-generated="True" />
        <link href="../../../../../../Skins/Default/Stylesheets/Components/Styles.css" rel="stylesheet" type="text/css" data-mc-generated="True" />
        <link href="../../../../../../Skins/Default/Stylesheets/Components/Print.css" rel="stylesheet" type="text/css" data-mc-generated="True" />
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" /><title>Add a Component</title>
        <script src="../../../../Resources/Scripts/jquery.min.js" type="text/javascript">
/*<![CDATA[*/

 
/*]]>*/
</script>
        <script src="../../../../Resources/Scripts/purify.min.js" type="text/javascript" defer="defer">
/*<![CDATA[*/

 
/*]]>*/
</script>
        <script src="../../../../Resources/Scripts/require.min.js" type="text/javascript" defer="defer">
/*<![CDATA[*/

 
/*]]>*/
</script>
        <script src="../../../../Resources/Scripts/require.config.js" type="text/javascript" defer="defer">
/*<![CDATA[*/

 
/*]]>*/
</script>
        <script src="../../../../Resources/Scripts/foundation.min.js" type="text/javascript" defer="defer">
/*<![CDATA[*/

 
/*]]>*/
</script>
        <script src="../../../../Resources/Scripts/plugins.min.js" type="text/javascript" defer="defer">
/*<![CDATA[*/

 
/*]]>*/
</script>
        <script src="../../../../Resources/Scripts/MadCapAll.js" type="text/javascript" defer="defer">
/*<![CDATA[*/

 
/*]]>*/
</script>
        <link href="../../../../../Resources/Styles/SMS-Styles.css" rel="stylesheet" type="text/css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="../../../../../../Resources/Scripts/jquery.min.js" type="text/javascript">
        </script>
        <script src="../../../../../../Resources/Scripts/purify.min.js" type="text/javascript" defer="defer">
        </script>
        <script src="../../../../../../Resources/Scripts/require.min.js" type="text/javascript" defer="defer">
        </script>
        <script src="../../../../../../Resources/Scripts/require.config.js" type="text/javascript" defer="defer">
        </script>
        <script src="../../../../../../Resources/Scripts/foundation.min.js" type="text/javascript" defer="defer">
        </script>
        <script src="../../../../../../Resources/Scripts/plugins.min.js" type="text/javascript" defer="defer">
        </script>
        <script src="../../../../../../Resources/Scripts/MadCapAll.js" type="text/javascript" defer="defer">
        </script>
    </head>
    <body>
        <div class="kt">
            <h1><a name="kanchor464"></a>Add a Component</h1>
            <p>
                <hr width="100%" size="0" align="center" />
            </p>
            <p>This topic shows how to add a Component and describes the minimum required information to be entered. The topic <a href="inv_edit_component.htm" class="MCXref xref">Edit Component Data</a> describes additional information that can be entered for the Component.</p>
            <p>
                <hr width="100%" size="0" align="center" />
            </p>
        </div>
        <p class="indent"><span class="span_1" style="font-weight: bold;">Note:</span> Please be familiar with the topic <a href="../inv_identifying_systems,_components_and_sections.htm" class="MCXref xref">About Identifying Systems, Components and Sections</a> before proceeding with this topic. </p>
        <p class="indent">&#160;</p>
        <p>To add a new Component to an existing System, navigate to the System in the inventory tree and do one of the following: </p>
        <ol style="list-style-type: lower-alpha;">
            <li value="1">Right-click the System. Then select "Add Component" from the options.</li>
            <li value="2">Alternatively, as shown below, select the System in the inventory tree. Then activate the <span class="span_1" style="font-weight: bold;">Add Component</span> icon on the main toolbar:
</li>
        </ol>
        <p class="p_26" style="text-align: center;">
            <img src="image162-v3_3_375x350.png" alt="" style="width: 375;height: 350;" />
        </p>
        <div class="kt">
            <p><span class="result" style="font-style: italic;">The "Add System Component" popup window will appear.</span>
            </p>
            <p class="p_26" style="text-align: center;">
                <img src="pop-add-cpt-3_3.png" alt="" />
            </p>
        </div>
        <p>From the dropdown list, select the Component you wish to add. Then activate the <span class="span_1" style="font-weight: bold;">Add</span> button on the popup toolbar to add the Component. </p>
        <p>Alternatively, if you do not wish to add a Component to the System, activate the <span class="span_1" style="font-weight: bold;">Cancel</span> button instead.</p>
        <p class="indent"><span class="span_1" style="font-weight: bold;">Note:</span> Each System can contain at most one Component of each type. The dropdown list for adding a Component will display only the component types that don't already exist for the System. If the System already contains all permissible Component types, you will see this message:</p>
        <p class="p_26" style="text-align: center;">
            <img src="../systems/sys-cmpt-complete-msg.png" alt="" />
        </p>
        <p>Once the System is added, you can navigate to it in the tree and activate it to view or edit its data, view or edit cost modifiers, add attachments, or view or edit custom System inventory attributes. </p>
        <h2 data-mc-conditions="Primary.ScreenOnly">Component Tasks</h2>
        <p data-mc-conditions="Primary.ScreenOnly">Other tasks that can be performed on Components are:</p>
        <ul style="list-style-type: none;">
            <li data-mc-conditions="Primary.ScreenOnly"><a href="inv_edit_component.htm" class="MCXref xref">Edit Component Data</a>
            </li>
            <li data-mc-conditions="Primary.ScreenOnly"><a href="inv_gen_component_report.htm" class="MCXref xref">Generate Component Reports</a>
            </li>
            <li data-mc-conditions="Primary.ScreenOnly"><a href="inv_delete_component.htm" class="MCXref xref">Delete a Component</a>
            </li>
        </ul>
        <p data-mc-conditions="Primary.ScreenOnly">For an overview of Components, see <a href="about_components.htm" class="MCXref xref">Working with Components</a>.</p>
        <p class="MCWebHelpFramesetLink MCWebHelpFramesetLinkBottom"><a href="../../../../Builder.htm#inventory/systems,_components,_and_sections/components/inv_add_component.htm">Open topic with navigation</a>
        </p>
        <p class="MCWebHelpFramesetLink MCWebHelpFramesetLinkBottom"><a href="../../../../../../Default.htm#BUILDER/content/inventory/systems,_components,_and_sections/components/inv_add_component.htm">Open topic with navigation</a>
        </p>
    </body>
</html>